body {
  background-color: yellow;
}
body a{
  color: black;
  display: inline-block;
  text-align: center;
  font-family: fantasy;
}
p{
  text-align: center;
  font-family: fantasy;
}

h1 {
  color: black;
  font-family: fantasy;
  text-align: center;
}

form {
	border: 1px solid black;
	padding: 20px;
}
img.Steeler_Pic {
  display: inline-block;
  margin-left: 40%;
  margin-right: auto;
  height: 25%;
  width: 25%;
  border-style: solid;
  border-color: black;
}
